ul.cms li{
	display: inline-block!important;
	padding: 0 0.75em;
	font-size: .8em;	
	background-color: #333!important;
	color: #fff;
	border-radius: 0.25em;	
}

ul.cms a {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    display: inline-block;
	text-align: center;
	border: 0;
	color: #fff;
}

.youtube{
	width:100%;
	height: 289px;
}

body.single .youtube{
	_height: 581px;
}

.hidden{
	display: none;
}

.visible{
	display: block;
}

#footer > section.split > section,
#footer > section.split > section:first-child,
#footer > section.split > section:last-child  {
	padding: 2.4rem 4rem 2.1rem 4rem !important;
}

#logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 18%;
	background-image: url("../img/sambo_back.png");
	background-size: 18%;
	background-position: 18% 1.5%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#logo.fade-in:before {
	pointer-events: none;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
	-moz-transition-delay: 0.75s;
	-webkit-transition-delay: 0.75s;
	-ms-transition-delay: 0.75s;
	transition-delay: 0.75s;
	background: #1e252d;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

body.is-preload #logo.fade-in:before {
	opacity: 1;
}

@media screen and (max-width: 480px) {

	body div#logo{
		background-position: top center;
		background-size: 70%!important;
	}

	body.single .youtube{
		height: 281px;
	}

	.pagination .page-item{
		display:none!important;
	}

	.pagination .page-item:nth-child(1), .pagination .page-item:nth-child(2),
	.pagination .page-item:nth-last-child(1), .pagination .page-item:nth-last-child(2) {
		display: block!important;
	}

	.pagination .page-item:nth-child(1) a, .pagination .page-item:nth-child(2) a,
	.pagination .page-item:nth-last-child(1) a, .pagination .page-item:nth-last-child(2) a {
		min-width: 5rem!important;
		height: 4rem!important;
		line-height: calc(4rem - 4px);
		font-weight: 1000;
	}
	.pagination .page-item:nth-child(1) a span, .pagination .page-item:nth-child(2) a span,
	.pagination .page-item:nth-last-child(1) a span, .pagination .page-item:nth-last-child(2) a span{
		font-size:1.7em!important;		
	}
}


@media screen and (max-width: 736px) {

	body.home div#logo, body div#logo {
		background-position: top 5%;
		background-size: 40%;
	}
	
}

@media screen and (max-width: 980px) {

	body.home div#logo, body div#logo {
		background-position: top 0%;
		background-size: 25%;
	}
}
