ul.cms{
}

ul.cms li{
	display: inline-block!important;
	padding: 0 0.75em;
	font-size: .8em;	
	background-color: #333!important;
	color: #fff;
	border-radius: 0.25em;	
}

ul.cms a {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 0.8rem;
    display: inline-block;
	text-align: center;
	border: 0;
	color: #fff;
}

.hidden{
	display: none;
}

.visible{
	display: block;
}

#footer > section.split > section,
#footer > section.split > section:first-child,
#footer > section.split > section:last-child  {
	padding: 2.4rem 4rem 2.1rem 4rem !important;
}

@media screen and (orientation: portrait) {

	.pagination .page-item{
		display:none;
	}

	.pagination .page-item:nth-child(1), .pagination .page-item:nth-child(2),
	.pagination .page-item:nth-last-child(1), .pagination .page-item:nth-last-child(2) {
		display: block;
	  }

}

