{{ if ne $.Site.Taxonomies.tags nil}}
	{{ if gt (len $.Site.Taxonomies.tags) 0 }}
    <aside class="tags">   
        <h2>Categorías</h2>
        <ul class="actions small">
            {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
            <li>
                <a href="/tags/{{ $name | urlize }}" class="button small">{{ lower (replace $name "-" " ") }} 
                   ({{len $taxonomy}})
                </a>
            </li>
            {{ end }}
        </ul>
	</aside>   
	{{ end }}
{{ end }}	