{{ $data := .Site.GetPage "page" "general.md" }}

				<footer id="footer">
					<section id="contact">
						<form method="post" action="#">
							<div class="fields">
								<div class="field">
									<label for="name">Nombre</label>
									<input type="text" name="name" id="name" required="required" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" required="required" />
								</div>
								<div class="field">
									<label for="message">Mensaje</label>
									<textarea name="message" id="message" rows="3" required="required"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Envia" /></li>
							</ul>
						</form>
					</section>
					<section class="split contact">
						<section class="alt">
							<h3>Horarios</h3>
							<p>{{ safeHTML $data.Params.schedule }}</p>
						</section>
						<section class="alt">
							<h3>Dirección</h3>
							<p>{{ safeHTML $data.Params.address }}</p>
						</section>
						<section>
							<h3>Teléfono</h3>
							<p><a href="#">{{ $data.Params.phone }}</a></p>
						</section>
						<section>
							<h3>Email</h3>
							<p><a href="#">{{ safeHTML $data.Params.email }}</a></p>
						</section>
						<section>
							<h3>Social</h3>
							<ul class="icons alt">
								{{ range $data.Params.social }}
								<li><a href="{{.link}}" class="icon alt {{.class}}"><span class="label">{{.title}}</span></a></li>
								{{ end }}
							</ul>							
						</section>
					</section>
				</footer>

			<!-- Copyright -->
				<div id="copyright">
					<ul><li>&copy; CSG</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
				</div>

				<ul id="cms" class="cms hidden">
						{{ $.Scratch.Set "cmsSection" .Section }}

						{{ if and (eq .Section "") (eq .IsHome false)}}
							{{ $.Scratch.Set "cmsSection" "others" }}
						{{ end }}

						{{ if ne .File.BaseFileName "" }}
						<li><a target="_blank" href="/admin/#/collections/{{$.Scratch.Get "cmsSection"}}/entries/{{.File.BaseFileName}}">Edita esta página</a></li>
						{{ end }}
						<li><a target="_blank" href="/admin/#/collections/news/new">Añade una noticia</a></li>
						<li><a target="_blank" href="/admin/#/collections/agenda/new">Añade un evento</a></li>
						<li><a target="_blank" href="/admin/#/collections/galeria/new">Añade una imagen</a></li>
						<li><a target="_blank" href="/admin/#/collections/general/entries/general">Edita info general</a></li>
				</ul>
		</div>


 
	<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="/assets/js/custom.js"></script>
