{{ $data := .Site.GetPage "page" "general.md" }}

<section>
    {{ $mediaPage := .Site.GetPage "page" "media/index.md"}}
    {{ $paginator := .Paginate (where .Data.Pages "Section" "galeria") $data.Params.pagination}}

    {{ if eq $paginator.PageNumber 1 }}
        {{ range first 1 $paginator.Pages.ByDate.Reverse }}
            {{ partial "image.html" (dict "c" . "images" .Params.images "image" .Params.image "youtube" .Params.youtube "link" true "css" "image main" "width" 1194 "height" 581 "quality" 90) }}
        {{ end }}
    {{ end }}

    <div class="box alt">
        <div class="row gtr-50 gtr-uniform">
            {{ range $index, $value := where $.Paginator.Pages.ByDate.Reverse "Params.hidden" "ne" "true" }}
                {{ if or (and (gt $index 0) (eq $paginator.PageNumber 1)) (gt $paginator.PageNumber 1) }}
                    {{ $image := $mediaPage.Resources.GetMatch (replace .Params.image "/media/" "") }}   
                    <div class="col-4 col-12-small"><span class="image fit"></span>
                    {{ if $image }}         
                        {{ $thumb := $image.Fill "387x236 q90" }}
                        <a href="{{.URL}}" class="image"><img src="{{$thumb.RelPermalink}}" alt="" /></a>
                    {{ else if .Params.youtube }}
                        {{$yt := split .Params.youtube "/"}}
                        {{ range last 1 $yt }}
                            {{  $yt = . }}
                        {{ end }}
                        <iframe width="387" height="236"
                            src="https://www.youtube.com/embed/{{$yt}}">
                        </iframe>
                    {{ end }}
                    </span></div>                    
                {{ end }}
            {{ end }}
            </div>
    </div>

</section>
