{{ $mediaPage := .c.Site.GetPage "page" "media/index.md"}}

{{ $scratch := newScratch }}

{{ $images := .images }}
{{ $image := .image }}
{{ $youtube := .youtube }}
{{ $link := .link }}
{{ $originallink := .originallink }}
{{ $css := .css }}
{{ $height := .height }}
{{ $width := .width }}
{{ $quality := .quality }}

{{ if $images }}
    {{ range first 1 $images }}
        {{if .image }}
            {{ $image = .image }}
        {{ else if .youtube }}
            {{ $youtube = .youtube }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $image }}

    {{ $img := $mediaPage.Resources.GetMatch (replace $image "/media/" "") }}            
 
    {{ if $img }}

        {{ if and (gt $img.Width $img.Height) (gt $img.Width $width) }}
            {{ $scratch.Set "resized" ($img.Fill (print $width "x" $height " q" $quality)) }}
        {{ else if gt $img.Width $height }}
            {{ $scratch.Set "resized" ($img.Fill (print $width "x" $height " q" $quality)) }}
        {{ else }}
            {{ $scratch.Set "resized" $img }}
        {{ end }} 

        {{ if $link }}
            {{ if and (eq .c.Section "galeria") $originallink}}
                <a href="{{.c.URL}}" class="{{$css}}">
            {{ else }}
                <a href="{{$img.RelPermalink}}" class="{{$css}}">
            {{ end }}
        {{ else }}
            <span class="image main">        
        {{ end }}

            <img src="{{ ($scratch.Get "resized").RelPermalink}}" alt="" />

        {{ if $link }}
            </a>
        {{ else }}
            </span>
        {{ end }}
    {{ end }}
    
{{ else if $youtube }}
    {{$yt := split $youtube "/"}}
    {{ range last 1 $yt }}
        {{  $yt = . }}
    {{ end }}
    <iframe style="max-height={{$height}}" class="youtube" 
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen" 
            msallowfullscreen="msallowfullscreen" 
            oallowfullscreen="oallowfullscreen" 
            webkitallowfullscreen="webkitallowfullscreen"
            src="https://www.youtube.com/embed/{{$yt}}">
    </iframe>
{{ else }}
    <span class="image main"><img src="/assets/img/sambo_597.png" alt="" /></span>
{{ end }}