{{ $mediaPage := .c.Site.GetPage "page" "media/index.md"}}

{{ $scratch := newScratch }}

{{ $images := .images }}
{{ $image := .image }}
{{ $link := .link }}
{{ $css := .css }}
{{ $height := .height }}
{{ $width := .width }}
{{ $quality := .quality }}

{{ if $images }}
    {{ range first 1 $images }}
        {{ $image = .image }}
    {{ end }}
{{ end }}

{{ if $image }}
    {{ $img := $mediaPage.Resources.GetMatch (replace $image "/media/" "") }}            

    {{ if and (gt $img.Width $img.Height) (gt $img.Width $width) }}
        {{ $scratch.Set "resized" ($img.Fill (print $width "x" $height " q" $quality)) }}
    {{ else if gt $img.Width $height }}
        {{ $scratch.Set "resized" ($img.Fill (print $width "x" $height " q" $quality)) }}
    {{ else }}
        {{ $scratch.Set "resized" $img }}
    {{ end }}

    {{ if $link }}
        {{ if eq .c.Section "galeria" }}
            <a href="{{.c.URL}}" class="{{$css}}">
        {{ else }}
            <a href="{{$img.RelPermalink}}" class="{{$css}}">
        {{ end }}
    {{ else }}
        <span class="image main">        
    {{ end }}

        <img src="{{ ($scratch.Get "resized").RelPermalink}}" alt="" />

    {{ if $link }}
        </a>
    {{ else }}
        </span>
    {{ end }}
{{ else }}
    <span class="image main"><img src="/assets/img/sambo_597.png" alt="" /></span>
{{ end }}