{{ $data := .Site.GetPage "page" "general.md" }}

				<nav id="nav">
						<ul class="links">
						{{ range .Site.Menus.main }}
							{{ if or (and $.IsHome (eq "home" .Identifier)) (and (eq "home" .Identifier) (eq $.Section "noticias")) (eq $.Section .Identifier) (eq $.File.BaseFileName .Identifier) }}
								<li class="active">
							{{ else }}
								<li>
							{{ end }}
							<a href="{{.URL}}">{{ .Name }}</a></li>
						{{end}}
					</ul>
					<ul class="icons">
						{{ range $data.Params.social }}
						<li><a href="{{.link}}" class="icon {{.class}}"><span class="label">{{.title}}</span></a></li>
						{{ end }}
					</ul>
				</nav>