{{ $data := .Site.GetPage "page" "general.md" }}
{{ $mediaPage := .Site.GetPage "page" "media/index.md"}}

{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse ".Type" "!=" "page") $data.Params.pagination }}

{{ if eq .Section "noticias "}}
    {{ $paginator = .Paginate (where .Data.Pages.ByDate.Reverse ".Section" "noticias" ) $data.Params.pagination }}
{{ end }}

{{ $.Scratch.Set "first_article_css" ""}}

{{ if eq .Section "tags" }}

{{ $.Scratch.Set "first_article_css" "first_article_css"}}
    <section class="posts">
        <h2>({{.Title}})</h2>
    </section>
{{ end }}

{{ if (eq $paginator.PageNumber 1) }}

    {{ range first 1 $paginator.Pages }}

    <!-- range first 1 (where .Data.Pages "Section" "noticias") -->
    <!-- Featured Post -->
    <article class="post featured {{ $.Scratch.Get "first_article_css"}}">
        <header class="major">
            <span class="date">{{ .Date.Format "02-01-2006" }} </span>
            <h2><a href="{{.URL}}">{{ .Title }}</a></h2>
            <p>{{.Description}}</p>
        </header>

        {{ partial "image.html" (dict "c" . "images" .Params.images "image" .Params.image "crop" .Params.crop "youtube" .Params.youtube "link" true "css" "image main" "width" 1194 "height" 581 "quality" 90) }}

        <ul class="actions special">
            <li><a href="{{.URL}}" class="button large">Ver más</a></li>
        </ul>
    </article>

    {{ end }}

{{ end }}

<!-- Posts -->
    <section class="posts">
        <!-- range $index, $value := where .Data.Pages "Section" "noticias" -->
                    
        {{ range $index, $value := $paginator.Pages }}
            {{ if or (and (gt $index 0) (eq $paginator.PageNumber 1)) (gt $paginator.PageNumber 1) }}
                
            <article>
                <header>
                    <span class="date">{{ .Date.Format "02-01-2006" }}</span>
                    <h2><a href="{{.URL}}">{{.Title}}</a></h2>
                </header>

                {{ partial "image.html" (dict "c" . "images" .Params.images "image" .Params.image "crop" .Params.crop "youtube" .Params.youtube "link" false "css" "image main" "width" 448 "height" 272 "quality" 90) }}

                <p>{{ .Description }}</p>
                <ul class="actions special">
                    <li><a href="{{.URL}}" class="button">Ver más</a></li>
                </ul>
            </article>	
            {{ end }}
        {{ end }}
        
    </section>
