<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{{ $p := .Site.GetPage "page" "home.md" }}

	<head>
	    {{ partial "head.html" . }}
	</head>
	<body id="home"> 
 
 	    {{ partial "menu.html" . }}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>{{ $p.Title }}</h1>
				</div>
			</section>

		<!-- Noticias -->
			<section id="one">
				<div class="row">
					<div class="6u 12u$(xsmall)">			
						<div class="inner news">
							<header>
								<h2>Notícies</h2>
							</header>

							{{ range first 5 (where .Data.Pages "Section" "noticies") }}
				                <article>
				                  <a href="{{.URL}}">
				                    <strong>{{ .Title }}</strong>
				                  </a>
				                  <p>{{ .Date.Format "02-01-2006" }}<br />
				                    {{ .Description }}
				                  </p>
				                </article>
							{{ end }}
						</div>
						<div class="inner">
							<a href="/noticies" class="button alt">Veure més</a>
						</div>
					</div>
					<div class="6u 12u$(xsmall)">			
						<div class="inner agenda">
							<header>
								<h2>Agenda</h2>
							</header>
							{{ range first 5 (where .Data.Pages "Section" "agenda") }}
				                <article>
				                  <!--a href="{{.URL}}"-->
				                    <strong>{{ .Title }}</strong>
				                  <!--/a-->
				                  <p>
				                  	{{ .Date.Format "02-01-2006" }} - {{.Params.lloc}}
				                  </p>
				                </article>
							{{ end }}
						</div>
						<div class="inner">
							<a href="/agenda" class="button alt">Veure més</a>
						</div>
					</div>
				</div>
			</section>

		<!-- Pictures -->
			<section id="_two" class="carousel">
				<div class="inner">
					<header>
						<h2>Galeria</h2>
					</header>
				</div>
				<div class="reel">
					{{ $mediaPage := .Site.GetPage "page" "media/index.md"}}

					{{ range first 8 (where .Data.Pages "Section" "galeria") }}
		            	{{ if .Params.image }}
											{{ $image := $mediaPage.Resources.GetMatch (replace .Params.image "/media/" "") }}            
											{{ if $image }}
		              		{{ $thumb := $image.Fill "320x320 q90" }}
							<article><a href="{{$image.RelPermalink}}" class="image featured"><img src="{{$thumb.RelPermalink}}" alt="{{.Title}}" /></a><p>{{ .Title }}</p></article>
							{{ end }}
							{{ end }}
							{{ end }}

				</div>
				<div class="inner">
					<a href="/galeria" class="button alt">Més imatges</a>
				</div>
			</section>



	    {{ partial "footer.html" . }}

	</body>
</html>
